infra/step_function/definition.json
{
  "Comment": "SOAR automation workflow",
  "StartAt": "CheckAlertType",
  "States": {
    "CheckAlertType": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.source",
          "StringEquals": "Snort",
          "Next": "CheckMISP"
        },
        {
          "Variable": "$.source",
          "StringEquals": "OpenVAS",
          "Next": "CreateCase"
        },
        {
          "Variable": "$.source",
          "StringEquals": "Wazuh",
          "Next": "CreateCase"
        }
      ],
      "Default": "Notify"
    },
    "CheckMISP": {
      "Type": "Task",
      "Resource": "${check_misp_arn}",
      "Next": "CreateCase"
    },
    "CreateCase": {
      "Type": "Task",
      "Resource": "${create_case_arn}",
      "Next": "BlockIP"
    },
    "BlockIP": {
      "Type": "Task",
      "Resource": "${block_ip_arn}",
      "Next": "Notify"
    },
    "Notify": {
      "Type": "Task",
      "Resource": "${notify_arn}",
      "Next": "SendToElastic"
    },
    "SendToElastic": {
      "Type": "Task",
      "Resource": "${send_to_elastic_arn}",
      "End": true
    }
  }
}
