infra/step_function/definition.json
{
  "Comment": "SOAR automation workflow with conditional blocking per source",
  "StartAt": "CheckAlertType",
  "States": {
    "CheckAlertType": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.source",
          "StringEquals": "Snort",
          "Next": "CheckMISP"
        },
        {
          "Variable": "$.source",
          "StringEquals": "OpenVAS",
          "Next": "CreateCaseOnly"
        },
        {
          "Variable": "$.source",
          "StringEquals": "Wazuh",
          "Next": "CheckIfNetworkThreat"
        }
      ],
      "Default": "NotifySafe"
    },

    "CheckMISP": {
      "Type": "Task",
      "Resource": "${check_misp_arn}",
      "Next": "IsMalicious"
    },

    "IsMalicious": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.malicious",
          "BooleanEquals": true,
          "Next": "CreateCase"
        }
      ],
      "Default": "NotifySafe"
    },

    "CheckIfNetworkThreat": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.category",
          "StringEquals": "network",
          "Next": "CreateCase"
        }
      ],
      "Default": "CreateCaseOnly"
    },

    "CreateCase": {
      "Type": "Task",
      "Resource": "${create_case_arn}",
      "Next": "BlockIP"
    },

    "CreateCaseOnly": {
      "Type": "Task",
      "Resource": "${create_case_arn}",
      "Next": "Notify"
    },

    "BlockIP": {
      "Type": "Task",
      "Resource": "${block_ip_arn}",
      "Next": "Notify"
    },

    "Notify": {
      "Type": "Task",
      "Resource": "${notify_arn}",
      "Next": "SendToElastic"
    },

    "NotifySafe": {
      "Type": "Task",
      "Resource": "${notify_arn}",
      "Next": "SendToElastic"
    },

    "SendToElastic": {
      "Type": "Task",
      "Resource": "${send_to_elastic_arn}",
      "End": true
    }
  }
}
